@font-face {
  font-family: "Horizon";
  src: url("fonts/horizon.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Vintage Goods";
  src: url("fonts/Vintage\ Goods.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins Light";
  src: url("fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 600;
}
body {
  font-family: "Poppins Medium";

  color: #471f52;
  margin: 0;
  padding: 0;
  background-image: url(images/Background.png);
  background-size: 100%;
}
main {
  max-width: 1100px;
  margin: auto;
}

header {
  background-color: #471f52;
  width: 100%;
  color: #fff;
  text-align: center;
  padding-right: 20px;
  margin-top: 50px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
#header__menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2em;
}
.header__link {
  text-decoration: none;
  font-weight: 600;
  color: #f1f5f9;
  transition: color 0.3s;
}
.header__link:hover {
  color: #f7af9d;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about h2 {
  font-family: "Horizon";
  font-size: 72px;
}
#about h3 {
  font-family: "Vintage Goods";
  font-size: 72px;
}
#about p {
  font-size: 200%;
  max-width: 80%;
}

#elementsExp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #471f52;
}
.collection-item {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  transition: transform 0.3s;
}
.collection-item:hover {
  transform: translateY(-10px);
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  background-color: #333;
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: 6px;
  transition: transform 0.3s;
}
.btn:hover {
  transform: translateY(-3px);
}

footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  display: flex;
  justify-content: center;
  position: relative;
  width: 70%;
}

#popup-image {
  width: 100%;
}
.popup-content img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}
.popup-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-content a {
  color: #ffffff;
  font-family: "Poppins Light";
  text-decoration: none;
  transition: color 0.3s;
}
.popup-content a:hover {
  color: #f7af9d;
}
